<div class="leftpanel">
<form method="post" id="ajaxform" name="ajaxform" action="/query">
  <div id="date_range"></div>
  <input id="start_date" type="hidden" name="start_date" value="2005-01-03"/>
  <input id="end_date" type="hidden" name="end_date" value="2014-10-24"/><br/>
  <input type="hidden" id="qtype" name="qtype" value="stock"/>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Sector-wise</a></li>
      <li><a href="#tabs-2">Stock-wise</a></li>
    </ul>
    <div id="tabs-1">
        <% @sectors.each do |sec| %>
        <b><%= sec %></b>: Amount: $<input type="text" id="<%= sec %>_amount" name="<%= sec %>_amount" readonly class="amount" size="3"> Weight: <input type="text" id="<%= sec %>_weight" name="<%= sec %>_weight" readonly class="weight" size="3">%
        <div id="<%= sec %>_slider"></div>
        <br/>
        <% end %>
    </div>
    <div id="tabs-2">
        <% @sectors.each do |sector| %>
          <%= sector %><br/>
          <% PRODUCTS[sector].each do |stock| %>
            <div style="display: inline-block; width: 230px;">
            <b><%= stock %></b>:<br/>Amount: $<input type="text" id="<%= stock %>_amount" name="<%= stock %>_amount" readonly class="amount" size="3"> Weight: <input type="text" id="<%= stock %>_weight" name="<%= stock %>_weight" readonly class="weight" size="3">%
            <div id="<%= stock %>_slider"></div>
            </div>
          <% end %>
          <br/><br/>
        <% end %>
    </div>
  </div>
  
  Rebalancing Frequency (days): <input type="number" min="1" max="365" value="50" name="rebalance_freq"/><br/>
  <input type="submit" value="Query"/>
</form>

</div>
<a href="javascript:void(0);" class="slider-arrow show">&raquo;</a>
<div class="results">
  <% if @notice %>
    <h3><%= @notice %></h3>
  <% end %>
  <h3>You can reset the database by uploading processed_data.csv <a href="/upload">here</a></h3>
  <div id="chart_div"></div>
  <div>
    Maximum Drawdown = <span id="max_dd"></span><br/>
    Net Returns = <span id="net_returns"></span><br/>
  </div>
</div>
<script src="js/main.js"></script>
<script>
$(function() {
  $("#date_range").dateRangeSlider({
    bounds: {
        min: new Date(2005, 0, 3),
        max: new Date(2014, 9, 24)
    },
    defaultValues: {
        min: new Date(2011, 0, 3),
        max: new Date(2011, 9, 24)
    }
  });
  $("#date_range").on("valuesChanging", function(e, data){
    $("#start_date").val($.datepicker.formatDate("yy-mm-dd",data.values.min));
    $("#end_date").val($.datepicker.formatDate("yy-mm-dd",data.values.max));
  });
  
  $( "#tabs" ).tabs({
    active: -1,
    activate: function(event,ui) {
      $("#qtype").val(ui.newPanel.is("#tabs-1") ? "sector" : "stock");
      recalculate_weights();
    }
  });
  
  <% @sectors.each do |sec| %>
       $( "#<%= sec %>_slider" ).slider({
          value:50,
          min: 0,
          max: 100,
          slide: function( event, ui ) {
            $( "#<%= sec %>_amount" ).val( "" + ui.value );
            recalculate_weights();
          }
       });
       $( "#<%= sec %>_amount" ).val( "" + $( "#<%= sec %>_slider" ).slider( "value" ) );
  <% end %>

  <% @stocks.each do |stock| %>
       $( "#<%= stock %>_slider" ).slider({
          value:50,
          min: 0,
          max: 100,
          slide: function( event, ui ) { 
            $( "#<%= stock %>_amount" ).val( "" + ui.value );
            recalculate_weights();
          }
       });
       $( "#<%= stock %>_amount" ).val( "" + $( "#<%= stock %>_slider" ).slider( "value" ) );
  <% end %>
  
  recalculate_weights();
  
$("#ajaxform").submit(function(e)
{
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success: function(data, textStatus, jqXHR)
        {
            console.log("AJAX Query returned" + data);
            var json_resp = jQuery.parseJSON(data);
            //console.log(json_resp["results"]);

            var gdata = google.visualization.arrayToDataTable(json_resp["results"]);
            var options = {
              title: 'Portfolio Performance'
            };
            
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(gdata, options);
            $("#max_dd").html(json_resp["max_drawdown"]);
            $("#net_returns").html(json_resp["net_returns"]);
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            alert("AJAX call to /query failed");
        }
    });
    e.preventDefault(); //STOP default action
    //e.unbind(); unbind. to stop multiple form submit.
});
});
</script>
