<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Portfolio Analysis</title>

<style>
#mainform {
	visibility:hidden;
}
#loadingholder {
	width:3em;
	height:3em;
	position:fixed;
	top:50%;
	left:50%;
	padding:0.5em;
	z-index:-1;
	margin-top:-2em;
	margin-left:-2em;
	border-radius:0.5em;
}
#loading-icon {
	background:url(img/loading.gif) no-repeat;
	width:4em;
	height:4em;
}
</style>

<link href="new_index_files/css.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="new_index_files/global-demo.css" type="text/css">
<link rel="stylesheet" href="new_index_files/sonhlab-base.css" type="text/css">
<link rel="stylesheet" href="new_index_files/openpanel.css" type="text/css">
<link rel="stylesheet" href="css/main.css" type="text/css">
<meta name="viewport" content="width=device-width, user-scalable=no">


<!-- IE 8 -->
<!--[if lt IE 9]>
<link rel="stylesheet" href="css/sonhlab-fix-ie8.css" type="text/css" />
<![endif]-->



<!-- Start jQuery Library -->

<!--[if !IE]> -->
<script type="text/javascript" src="new_index_files/jquery_002.js"></script>
<!-- <![endif]-->

<!--[if gte IE 9]>
<script type="text/javascript" src="../../../global/js/jquery/jquery.min.2.1.0.js"></script>
<![endif]-->

<!--[if lt IE 9]>
<script type="text/javascript" src="../../../global/js/jquery/jquery.min.1.11.js"></script>
<![endif]-->

<!-- End jQuery Library -->

<!-- mousewheel plugin -->
<script type="text/javascript" src="new_index_files/jquery.js"></script>


        <link rel="stylesheet" href="css/jquery-ui.min.css">
        <script src="js/vendor/jquery-ui.min.js"></script>
        <script src="js/vendor/jQDateRangeSlider-withRuler-min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>



</head> 
<body style="position: relative; top: 0px; overflow: auto;"> 

<div id="loadingholder">
	<div id="loading-icon"></div>
</div>


<!-- MAINFORM -->
<div id="mainform">
	
    <!-- HEADLINE -->
    <div class="headline solid-orange-2"></div>
    <!-- END HEADLINE -->
   
    <!-- NavBar -->
    <div data-panelid="navbar" data-pos="top" data-ptext="light-text" class="op-tab solid-orange-2 light-text op-tabstyle-top">Configure Portfolio</div>
    <!-- End NavBar -->
    <div class="results">
  <% if @notice %>
    <h3><%= @notice %></h3>
  <% end %>
  <span>You can reset the database by uploading processed_data.csv <a href="/upload"><b><u>here</u></b></a></span>.
  <br/><br/>
  <div id="chart_div"></div>
  <div>
    <span id="max_dd"></span><br/>
    <span id="net_returns"></span><br/>
    <span id="annualized_returns"></span><br/>
  </div>
  <div id="weights"></div>
</div>
    <div class="clearspace"></div>
        
	</div>

</div>
<!-- END MAINFORM -->






<!-- OPENPANEL STATION -->
<div style="height: 678px; display: none;" id="op-station">


	<!-- NabBar -->
    <div style="display: none;" data-open="0" id="navbar" class="op-panel solid-orange-2">
    	
        <!-- Control -->
    	<div class="op-panelctrl solid-orange-2">
            <!-- Close All -->
            <div class="op-panelbt op-bt-closeall floatright">
                <img id="close_all_button" src="new_index_files/close-white-48a.png" alt="close all">
            </div>
            <!-- End Close All -->
            
            <div class="clearspace"></div>
        </div>
        <!-- End Control -->
        
        <!-- Panel Content -->
        <div class="op-panelform">
            <form method="post" id="ajaxform" name="ajaxform" action="/query">
              <div id="date_range" style="margin: 0px 40px 0px 40px;"></div>
              <input id="start_date" type="hidden" name="start_date" value="2010-01-03"/>
              <input id="end_date" type="hidden" name="end_date" value="2011-10-24"/><br/>
              <input type="hidden" id="qtype" name="qtype" value="stock"/>
              
              <div id="tabs" style="font-size: 80%; margin: 0px 40px 0px 40px;">
                <ul>
                  <li><a href="#tabs-1">Sector-wise</a></li>
                  <li><a href="#tabs-2">Stock-wise</a></li>
                </ul>
                <div id="tabs-1">
                    <% @sectors.each do |sec| %>
                    <b><%= sec %></b>: Amount: $<input type="text" id="<%= sec %>_amount" name="<%= sec %>_amount" readonly class="amount" size="3"> Weight: <input type="text" id="<%= sec %>_weight" name="<%= sec %>_weight" readonly class="weight" size="3">%
                    <div id="<%= sec %>_slider"></div>
                    <br/>
                    <% end %>
                </div>
                <div id="tabs-2">
                    <% @sectors.each do |sector| %>
                      <%= sector %><br/>
                      <% PRODUCTS[sector].each do |stock| %>
                        <div style="display: inline-block; width: 300px;">
                        <b><%= stock %></b>:Amount: $<input type="text" id="<%= stock %>_amount" name="<%= stock %>_amount" readonly class="amount" size="3"> Weight: <input type="text" id="<%= stock %>_weight" name="<%= stock %>_weight" readonly class="weight" size="3">%
                        <div id="<%= stock %>_slider"></div>
                        </div>
                      <% end %>
                      <br/><br/>
                    <% end %>
                </div>
              </div>
              <div style="margin: 0px 40px 0px 40px; text-align: center;">
              <br/>
                Rebalancing Frequency (days): <input type="text" id="rebalance_freq" value="50" name="rebalance_freq" class="amount" size="4" style="background-color: #FF6600; color: black;" readonly/>
                <div id="freq_slider"></div>


                <br/><input type="submit" value="Analyze Portfolio"/>
               </div<
            </form>
            <div class="clearspace"></div>
    
        </div>
        <!-- End Panel Content -->
        
    </div>
    <!-- END NavBar -->

<div style="z-index: 10001; display: none;" id="op-loadingholder"><div id="op-loadingicon"></div></div></div>
<!-- END OPENPANEL STATION -->

<style>
#mainform {
	visibility:visible;
}
.nuxion {
	visibility:visible;
}
#loadingholder {
	display:none;
}
</style>


<script type="text/javascript">

(function(e){var t=function(t,n){function v(t){var n;var r={};e("#op-station").find(".op-panel").each(function(){var t=parseInt(e(this).css("z-index"),10);if(t>a){a=t}});a=a+1;n=e("#op-station").find("#"+t).height();if(u>n){n=u}r["height"]=n+"px";r["z-index"]=a;if(t!==undefined){e("#op-station").find("#"+t).css(r)}}function m(t,n,i){function s(n){var r={};e("#"+t).attr("data-open",l);c=l-1;l++;if(n=="left"){r["left"]="-"+e(window).width()+"px";r["top"]="0px";e("#"+t).css(r);e("#"+t).animate({left:"0px"},400,"swing",function(){e("#op-loadingholder").css({display:"none"});e("#op-station").find('.op-panel[data-open="'+c+'"]').css({display:"none"});if(l==2){f=e("html").scrollTop()+e("body").scrollTop();e("body").css({position:"fixed",top:"-"+f+"px"})}e("body").css({overflow:"hidden"})})}else if(n=="right"){r["left"]=e(window).width()+"px";r["top"]="0px";e("#"+t).css(r);e("#"+t).animate({left:"0px"},400,"swing",function(){e("#op-loadingholder").css({display:"none"});e("#op-station").find('.op-panel[data-open="'+c+'"]').css({display:"none"});if(l==2){f=e("html").scrollTop()+e("body").scrollTop();e("body").css({position:"fixed",top:"-"+f+"px"})}e("body").css({overflow:"hidden"})})}else if(n=="bottom"){r["top"]=e(window).height()+"px";e("#"+t).css(r);e("#"+t).animate({top:"0px"},400,"swing",function(){e("#op-loadingholder").css({display:"none"});e("#op-station").find('.op-panel[data-open="'+c+'"]').css({display:"none"});if(l==2){f=e("html").scrollTop()+e("body").scrollTop();e("body").css({position:"fixed",top:"-"+f+"px"})}e("body").css({overflow:"hidden"})})}else if(n=="top"){r["top"]="-"+e(window).height()+"px";e("#"+t).css(r);e("#"+t).animate({top:"0px"},400,"swing",function(){e("#op-loadingholder").css({display:"none"});e("#op-station").find('.op-panel[data-open="'+c+'"]').css({display:"none"});if(l==2){f=e("html").scrollTop()+e("body").scrollTop();e("body").css({position:"fixed",top:"-"+f+"px"})}e("body").css({overflow:"hidden"})})}else{r["top"]="0px";r["display"]="none";e("#"+t).css(r);e("#"+t).fadeIn(400,function(){e("#op-loadingholder").css({display:"none"});e("#op-station").find('.op-panel[data-open="'+c+'"]').css({display:"none"});if(l==2){f=e("html").scrollTop()+e("body").scrollTop();e("body").css({position:"fixed",top:"-"+f+"px"})}e("body").css({overflow:"hidden"})})}}if(!n){n="none"}if(!e("#op-station").find("#op-loadingholder").length){e("#op-station").append("<div id='op-loadingholder'><div id='op-loadingicon'></div></div>")}e("#op-loadingholder").css({display:"block","z-index":a});if(!e("#"+t).length){if(i=="php"){p="content/openpanel/ajaxstation.php";d="panelid="+t}else{p="content/openpanel/"+t+"."+i;d=""}e.ajax({url:p,type:"POST",data:d,cache:false,success:function(o){if(o){e("#op-station").append(o);if(e("#"+t).length>0){e("#op-station").css({display:"block"});e("#"+t).css({display:"block"});v(t);s(n);e("#"+t).find(".op-tab").on("click",function(){t=e(this).attr("data-panelid");n=e(this).attr("data-pos");i=e(this).attr("data-ext");if(i===undefined){i=r.ext}m(t,n,i)});e("#"+t).find(".op-bt-close").on("click",function(){h=e(this).attr("data-close");g(h)});e("#"+t).find(".op-bt-closeall").on("click",function(){y()})}}},error:function(t){alert("Loading Error: Please check the Panel ID or your Server config.");e("#op-loadingholder").css({display:"none"})}})}else{e("#op-station").css({display:"block"});e("#op-station").find("#"+t).css({display:"block"});v(t);s(n)}}function g(t){l--;if(c>0){e("#op-station").find('.op-panel[data-open="'+c+'"]').css({display:"block"})}c--;if(l==1){e("body").css({position:"relative",top:0});e("html").scrollTop(f);e("body").scrollTop(f)}e("#"+t).fadeOut(400,function(){e(this).attr("data-open",0);if(e("#op-station").find(".op-panel:visible").length==0){e("#op-station").css({display:"none"});e("body").css({overflow:"auto"})}})}function y(){e("body").css({position:"relative",top:0});e("html").scrollTop(f);e("body").scrollTop(f);e(".op-panel").css({display:"none"});e("#op-station").css({display:"none"});e("body").css({overflow:"auto"});e("#op-station").find(".op-panel").attr("data-open",0);l=1}function b(e,t){var n,t=t||200;return function(){var r=this,i=arguments;clearTimeout(n);n=setTimeout(function(){e.apply(r,Array.prototype.slice.call(i))},t)}}var r=e.extend({},e.fn.openpanel.defaults,n);var i;var s;var o;var u=e(window).height();var a=0;var f;var l=1;var c=0;var h;var p;var d;if(!e("#op-station").length){e("body").append("<div id='op-station'></div>")}e("#op-station").css({height:u+"px"});e("#op-station").find(".op-panel").attr("data-open",0);e("#op-station").mousewheel(function(e,t){e.preventDefault();this.scrollTop-=t*30});e(".op-tab").on("click",function(){i=e(this).attr("data-panelid");s=e(this).attr("data-pos");o=e(this).attr("data-ext");if(o===undefined){o=r.ext}m(i,s,o)});e("#op-station").find(".op-bt-close").on("click",function(){h=e(this).attr("data-close");g(h)});e("#op-station").find(".op-bt-closeall").on("click",function(){y()});if(r.enableKeys==true){e(document).keydown(function(e){if(e.keyCode==27){y();return false}})}if(r.autoPanel!==undefined){i=r.autoPanel;o=r.ext;m(i,s,o)}e(window).resize(b(function(){var t;u=e(window).height();e("#op-station").css({height:u+"px"});e("#op-station").find('.op-panel[data-open!="0"]').css({height:"auto"});var n=e("#op-station").find('.op-panel[data-open!="0"]').length;for(var r=0;r<n;r++){t=e("#op-station").find('.op-panel[data-open!="0"]').eq(r).height();if(u>t){t=u}e("#op-station").find('.op-panel[data-open!="0"]').eq(r).css({height:t+"px"})}}))};e.fn.openpanel=function(n){return this.each(function(r,i){if(e(this).data("openpanel"))return e(this).data("openpanel");var s=new t(this,n);e(this).data("openpanel",s)})};e.fn.openpanel.defaults={ext:"php",enableKeys:false}})(jQuery);

</script>





<script type="text/javascript">
	$('body').openpanel({autoPanel:'navbar'});
</script>
<script src="js/main.js"></script>
<script>
$(function() {
  $("#date_range").dateRangeSlider({
    bounds: {
        min: new Date(2005, 0, 3),
        max: new Date(2014, 9, 24)
    },
    defaultValues: {
        min: new Date(2010, 0, 3),
        max: new Date(2011, 9, 24)
    }
  });
  $("#date_range").on("valuesChanging", function(e, data){
    $("#start_date").val($.datepicker.formatDate("yy-mm-dd",data.values.min));
    $("#end_date").val($.datepicker.formatDate("yy-mm-dd",data.values.max));
  });
  
  $( "#tabs" ).tabs({
    active: -1,
    activate: function(event,ui) {
      $("#qtype").val(ui.newPanel.is("#tabs-1") ? "sector" : "stock");
      recalculate_weights();
    }
  });
  
  $("#freq_slider").slider({
    value: 50,
    min: 1,
    max: 365,
    slide: function(event,ui){
      $("#rebalance_freq").val($("#freq_slider").slider("value"));
    }
  });
  
  <% @sectors.each do |sec| %>
       $( "#<%= sec %>_slider" ).slider({
          value:50,
          min: 0,
          max: 100,
          slide: function( event, ui ) {
            $( "#<%= sec %>_amount" ).val( "" + ui.value );
            recalculate_weights();
          }
       });
       $( "#<%= sec %>_amount" ).val( "" + $( "#<%= sec %>_slider" ).slider( "value" ) );
  <% end %>

  <% @stocks.each do |stock| %>
       $( "#<%= stock %>_slider" ).slider({
          value:50,
          min: 0,
          max: 100,
          slide: function( event, ui ) { 
            $( "#<%= stock %>_amount" ).val( "" + ui.value );
            recalculate_weights();
          }
       });
       $( "#<%= stock %>_amount" ).val( "" + $( "#<%= stock %>_slider" ).slider( "value" ) );
  <% end %>
  
  recalculate_weights();
  
$("#ajaxform").submit(function(e)
{
    //TODO: Show spinner
    $("#close_all_button").click();
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success: function(data, textStatus, jqXHR)
        {
            console.log("AJAX Query returned" + data);
            var json_resp = jQuery.parseJSON(data);
            //console.log(json_resp["results"]);

            var gdata = google.visualization.arrayToDataTable(json_resp["results"]);
            var options = {
              title: 'Portfolio Performance'
            };
            
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(gdata, options);
            $("#max_dd").html("Maximum Drawdown = " + parseFloat(json_resp["max_drawdown"][0]).toFixed(2) + "% on " + json_resp["max_drawdown"][1]);
            $("#net_returns").html("Net Returns = " + parseFloat(json_resp["net_returns"]).toFixed(2) + "%");
            $("#annualized_returns").html("Annualized Return = " + parseFloat(json_resp["annualized_returns"]).toFixed(2) + "%");
            var s = "<table style='border: thin solid grey'><tr><td><b>Product</b></td><td><b>Weight</b></td></tr>";
            for(var i=0; i < json_resp["weights"].length; i++){
              s += "<tr><td>" + json_resp["weights"][i][0] + "</td><td>" + (100*parseFloat(json_resp["weights"][i][1])) + "%</td></tr>";
            }
            s += "</table>";
            $("#weights").html(s);
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            alert("AJAX call to /query failed");
        }
    });
    e.preventDefault(); //STOP default action
    //e.unbind(); unbind. to stop multiple form submit.
});
});
</script>



</body></html>
