<% if @error %>
  <h3><%= @error %></h3>
<% end %>
<form method="post" enctype="multipart/form-data">
  <h1>Upload Data (processed_data.csv)</h1>
  <input type="file" name="upload"/>
  <input type="submit" value="Upload"/>
</form>
